<svg on:click id="Слой_1" width="2em" height="2em" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.7317 15.4634"><polygon points="7.732 15.463 0 7.732 7.732 0 7.732 7.732 7.732 15.463"/></svg>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>