<script lang="ts">
    import {
        Button, FormGroup, Input, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';
    export let description: string;
    export let displayName: string;
    let teams: string[] = [];
    let teamName: string;

    function addNewTeam(){
        teams.push(teamName);
        teamName = "";
        console.log(teams);
        teams = teams
    }

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;
</script>

<Button class="btn-warning" on:click={toggle}>Edit</Button>
<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <form method="post">
        <ModalHeader {toggle}>Edit Organisation</ModalHeader>
        <ModalBody>
            <FormGroup>
                <Label for="exampleText">Organisation Name</Label>
                <Input type="text" name="text" bind:value={displayName} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Description</Label>
                <Input type="textarea" name="text" bind:value={description} id="exampleText" />
            </FormGroup>
            <FormGroup>
                <Label for="exampleText">Teams:</Label>
                <p></p>
                {#each teams as team}
                    <a>{team}, &nbsp;</a>
                {/each}
                <p></p>
                <FormGroup>
                    <Label for="exampleText">Add new team</Label>
                    <Input type="text" name="text" bind:value={teamName} id="exampleText" />
                </FormGroup>
                <Button type="button" on:click={addNewTeam} color="success">Add to team</Button>
            </FormGroup>
        </ModalBody>
        <ModalFooter>
            <Button type="button" color="warning" on:click={toggle}>Edit</Button>
            <Button type="button" color="secondary" on:click={toggle}>Cancel</Button>
        </ModalFooter>
    </form>
</Modal>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
</style>