<script lang="ts">
    import {getUserDetails, authenticateUser} from "../hooks/auth";
    import {current_page_state, main_page_state, Page_State, UserData, user} from "../stores";

    export let local_page_state: Page_State;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })


    export let current_user: UserData;
    user.subscribe(value => {
        current_user = value;
    })

    function setCalender(){
        console.log("Calender");
        current_page_state.update((value) => {
            value.setPage(main_page_state.calender);
            return value;
        })
    }

    let username = '';
    let password = '';
    let error = ''

    async function login() {
        const user = await authenticateUser( username, password );
        if(user){
            setCalender();
            error = ''
        }
        else {
            error = 'false username or password'
        }
    }

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    initLocal_page_state();
</script>


<form method="post" class="flex mx-auto col-6">
    <div class="container" style="color: white">
        <h1>Log In</h1>
        <div class="input-group mb-3">
            <!--id="username"-->
            <span class="input-group-text" id="basic-addon3">Username</span>
            <input type="text" class="form-control" bind:value={username} placeholder="username"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon7">Password</span>
            <input type="password" class="form-control" id="password" bind:value={password} placeholder="Password"/>
        </div>
        <button type="button" on:click={login} class="btn btn-success">Submit</button>
        {#if error !== ''}
        <div id="error_message" class="text-danger">
            <small>{error}</small>
        </div>
        {/if}
    </div>
</form>