<script lang="ts">
    import {Collapse, Nav, Navbar, NavbarBrand, NavbarToggler, NavItem, NavLink,} from 'sveltestrap';
    import {current_page_state, main_page_state, Page_State, authenticated, AuthObj} from "../stores";

    export let local_page_state: Page_State;
    export let local_auth: AuthObj;

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    authenticated.subscribe(value => {
        local_auth = value;
    })

    function setStart(){
        console.log("Start");
        current_page_state.update((value) => {
            value.setPage(main_page_state.start);
            return value;
        })
    }

    function setCalender(){
        console.log("Calender");
        current_page_state.update((value) => {
            value.setPage(main_page_state.calender);
            return value;
        })
    }

    function setTeams(){
        console.log("Teams");
        current_page_state.update((value) => {
            value.setPage(main_page_state.teams);
            return value;
        })
    }

    function setSettings(){
        console.log("authenticated: " + local_auth.auth);
        current_page_state.update((value) => {
            value.setPage(main_page_state.settings);
            return value;
        })
    }

    function setSign_up(){
        console.log("Sign up");
        current_page_state.update((value) => {
            value.setPage(main_page_state.sign_up);
            return value;
        })
    }

    function setLog_in(){
        console.log("Log in");
        current_page_state.update((value) => {
            value.setPage(main_page_state.log_in);
            return value;
        })
    }

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    function initLocal_auth(){
        authenticated.update((value) => {
            return local_auth;
        })
    }

    let isOpen = false;

    function handleUpdate(event) {
        isOpen = event.detail.isOpen;
    }

    function reload(){
        location.reload();
    }

    initLocal_auth();
    initLocal_page_state();
</script>


<Navbar color="#BD9CFF" dark expand="md">
    <NavbarBrand href="/" style="margin-left: 5em">
        <div class="logo">
        <svg id="Layer_1" width="3em" height="3em" data-name="Layer 1" font-size="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 302.5071 437.3004"><defs><style>.cls-1{fill:#f15a24;}.cls-2{fill:#fff;}.cls-3{fill:none;}</style></defs><path class="cls-1" d="M556.93,386.3745l-8.3074,6.646-172.22,204.3317s-19.714,20.7366-9.5536-7.0295L493.9214,361.5161C505.52,340.5875,523.7643,373.53,523.7643,373.53l17.4139-6.646v19.49Z" transform="translate(-363.9396 -230.7041)"/><path class="cls-2" d="M636.4974,429.48c-34.7984,59.68-61.6667,189.1547-37.1335,232.8687l-25.625-6.5351-20.06,6.0954L532.83,655.8136l-24.3968,9.0522-13.7677-9.0522-23.9874,10.2348-10.25-10.2348-14.9353,12.1909-7.8088-10.1136c15.83-61.56,58.3461-202.74,110.9455-264.8772l8.2941-6.6413H541.1847v-19.484l-17.422,6.6412s-18.2407-32.9485-29.84-12.0088c0,0-.0607-3.1387.1213-8.3092.7733-21.7281,5.5647-80.0743,34.6771-99.4673,44.7906-29.84,82.91-34.8287,116.07,9.9315C677.9673,308.4513,671.311,369.7845,636.4974,429.48Z" transform="translate(-363.9396 -230.7041)"/><path class="cls-3" d="M544.8016,576.4434a.1268.1268,0,0,0-.06-.01" transform="translate(-363.9396 -230.7041)"/></svg>
    </div></NavbarBrand>
    <NavbarToggler on:click={() => (isOpen = !isOpen)} />
    <Collapse {isOpen} navbar expand="md" on:update={handleUpdate} style="margin-right: 5em">
        <Nav class="ms-auto" navbar style="font-size: 2em">
            <NavItem>
                <NavLink class="navElement" style="margin-left: 20px;"><a on:click={setCalender}>Calender</a></NavLink>
            </NavItem>
            <NavItem>
                <NavLink class="navElement" style="margin-left: 20px;"><a on:click={setTeams}>Teams</a></NavLink>
            </NavItem>
            {#if local_auth.auth === true}
            <NavItem>
                <NavLink class="navElement" style="margin-left: 20px;"><a on:click={setSettings} class="settings"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15.3142 16"><title>Settings</title><path d="M15.6571,9.1469V7.7837H14.502a3.3931,3.3931,0,0,0-.6528-1.414l.719-.719-.9639-.9639-.7944.7944a3.3856,3.3856,0,0,0-1.1641-.39V3.934H10.2826V5.1709a3.3946,3.3946,0,0,0-1.1114.527l-.847-.8469-.964.9639.8843.8843A3.3878,3.3878,0,0,0,7.82,7.7837H6.6651V9.1469H7.82a3.3837,3.3837,0,0,0,.3568.9672l-.931.931.964.9639.8555-.8556a3.3966,3.3966,0,0,0,1.2171.6063V12.926h1.3632V11.84a3.3873,3.3873,0,0,0,1.2815-.4577l.7912.7913.964-.9639-.754-.754a3.39,3.39,0,0,0,.5735-1.3084ZM11.1611,10.17a1.74,1.74,0,1,1,1.74-1.74A1.74,1.74,0,0,1,11.1611,10.17Z" transform="translate(-0.3429 0)"/><path d="M8.2109,4.5613V3.3685H7.2A2.9693,2.9693,0,0,0,6.629,2.1313l.6291-.6292L6.4147.6587,5.72,1.3538A2.9636,2.9636,0,0,0,4.701,1.0124V0H3.5082V1.0823a2.9692,2.9692,0,0,0-.9725.4612L1.7946.8024l-.8435.8434.7738.7737a2.9641,2.9641,0,0,0-.3713.949H.3429V4.5613H1.3536a2.961,2.961,0,0,0,.3122.8463l-.8146.8146.8434.8434.7487-.7486a2.9706,2.9706,0,0,0,1.0649.5305V7.868H4.701V6.9174a2.9622,2.9622,0,0,0,1.1213-.4005l.6923.6924.8435-.8434-.66-.66A2.9646,2.9646,0,0,0,7.2,4.5613Zm-3.934.8955A1.5228,1.5228,0,1,1,5.8,3.934,1.5228,1.5228,0,0,1,4.2769,5.4568Z" transform="translate(-0.3429 0)"/><path d="M8.2109,13.1657V12.1433H7.3446a2.5464,2.5464,0,0,0-.49-1.06l.5392-.5392-.7229-.723-.5958.5958a2.54,2.54,0,0,0-.8731-.2926V9.256H4.18v.9277a2.5458,2.5458,0,0,0-.8336.3953l-.6352-.6352-.723.7229.6632.6632a2.54,2.54,0,0,0-.3182.8134H1.4669v1.0224h.8663a2.5413,2.5413,0,0,0,.2676.7254l-.6982.6982.7229.723.6417-.6417a2.5483,2.5483,0,0,0,.9128.4547V16H5.2024v-.8147a2.5422,2.5422,0,0,0,.9611-.3433l.5935.5934.7229-.7229-.5655-.5655a2.5441,2.5441,0,0,0,.43-.9813Zm-3.372.7676A1.3053,1.3053,0,1,1,6.1442,12.628,1.3053,1.3053,0,0,1,4.8389,13.9333Z" transform="translate(-0.3429 0)"/></svg></a></NavLink>
            </NavItem>
                <button type="button" class="customBtn" on:click={reload}>LogOut</button>
            {/if}
            {#if local_auth.auth === false}
                <button type="button" class="customBtn" on:click={setLog_in}>LogIn</button>
                <button type="button" class="customBtn" on:click={setSign_up}>SignUp</button>
            {/if}

        </Nav>
    </Collapse>
</Navbar>

<style>
    a {
        text-decoration: none;
        color: white
    }

    .settings{
        fill: white;
    }

    a svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }

    a:hover{
        color: #f15a24;
        transition: all 0.1s ease 0s;
    }

    .customBtn {
        background-color: #F15A24;
        color: white;
        font-size: 1em;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
        margin-left: 20px;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

    .LogOutBtn{
        background-color: red;
        display: none;
    }

    .customBtn:hover{
        background-color: white;
        color: black;
        transition: all 0.2s ease 0s;
    }
</style>