<script lang="ts">
    import {
        Button,
        Card,
        CardBody,
        CardFooter,
        CardHeader,
        CardSubtitle,
        CardText,
        CardTitle,
    } from 'sveltestrap';
    import EditOrgButton from "./EditOrgButton.svelte";

    export let orgName: string;
    export let orgDescription: string;

</script>

<Card class="mb-3" style="background-color: #977CCC; min-height: 180px">
    <CardHeader>
        <CardTitle>{orgName}</CardTitle>
    </CardHeader>
    <CardBody>
        <CardSubtitle>Description</CardSubtitle>
        <CardText>
            {orgDescription}
        </CardText>
    </CardBody>
    <CardFooter>
        <EditOrgButton bind:displayName={orgName} bind:description={orgDescription}/>
        <Button color="danger"><svg xmlns="http://www.w3.org/2000/svg" width="13.2649" height="16" viewBox="0 0 13.2649 15.2129"><title>Trash</title><rect y="0.7459" width="13.2649" height="1.8021" rx="0.6092"/><path d="M2.9406,2.7513V14.7189A1.2848,1.2848,0,0,0,4.2216,16h7.5568a1.2848,1.2848,0,0,0,1.281-1.2811V2.7513Zm9.36,10.974a1.2847,1.2847,0,0,1-1.281,1.281H4.9805A1.2847,1.2847,0,0,1,3.7,13.7253V3.745h8.601Z" transform="translate(-1.3676 -0.7871)"/><rect x="6.1" y="4.2588" width="1.0649" height="8.6595" rx="0.5324"/><rect x="8.3108" y="4.2588" width="1.0649" height="8.6595" rx="0.5324"/><rect x="3.7649" y="4.2588" width="1.0649" height="8.6595" rx="0.5324"/><rect x="0.9949" y="0.8811" width="11.2751" height="1.5318" rx="0.6092"/><path d="M9.9648.7871h-3.6a.5352.5352,0,1,0,0,1.07h3.6a.5352.5352,0,1,0,0-1.07Zm-.127.746H6.4919a.2108.2108,0,1,1,0-.4216H9.8378a.2108.2108,0,0,1,0,.4216Z" transform="translate(-1.3676 -0.7871)"/></svg></Button>
    </CardFooter>
</Card>

<style>
    svg{
        fill: white;
    }
</style>
