<script>
    export let message = 'This functionality was not yet enabled by your admin. Please contact the tech support. ';
</script>

<style>
    h2 {
        font-size: 2rem;
        text-align: center;
        color: black;
        margin: 2rem;
    }
</style>

<h2> {message} </h2>