<div class="back">
<div class="container" style="background-color: white; border-radius: 10px; padding: 40px; padding-top: 20px">
    <p><span style="font-size: 40px;">StorkEISTTeam Privacy Policy</span></p>
    <p><br></p>
    <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from Stork App (the &ldquo;Site&rdquo;).</p>
    <p><br></p>
    <p>PERSONAL INFORMATION WE COLLECT</p>
    <p><br></p>
    <p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically collected information as &ldquo;Device Information.&rdquo;</p>
    <p><br></p>
    <p>When we talk about &ldquo;Personal Information&rdquo; in this Privacy Policy, we are talking both about Device Information and Order Information.</p>
    <p><br></p>
    <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
    <p><br></p>
    <p>DO NOT TRACK</p>
    <p>Please note that we do not alter our Site&rsquo;s data collection and use practices when we see a Do Not Track signal from your browser.</p>
    <p><br></p>
    <p>YOUR RIGHTS</p>
    <p>If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>
    <p>Additionally, if you are a European resident, we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. &nbsp;Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</p>
    <p><br></p>
    <p>CHANGES</p>
    <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
    <p><br></p>
    <p>CONTACT US</p>
    <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at michail.zhukov@gmail.com</p>
    <p><br></p>
</div>
</div>

<style>
    div {
        font-size: 25px;
    }
    span{
        font-size: 25px;
    }
    p{
        font-size: 25px;
        margin-bottom: 2px;
    }
    .back{
        background-color: #BD9CFF;
    }
</style>