<script lang="ts">
    import {current_page_state, main_page_state, Page_State} from "../stores";
    import {
        Button, FormGroup, Label,
        Modal,
        ModalBody,
        ModalFooter,
        ModalHeader
    } from 'sveltestrap';

    export let local_page_state: Page_State;

    import Popup from "./Popup.svelte";

    current_page_state.subscribe(value => {
        local_page_state = value;
    })

    function setStart(){
        console.log("Start");
        current_page_state.update((value) => {
            value.setPage(main_page_state.start);
            return value;
        })
    }

    function initLocal_page_state(){
        current_page_state.update((value) => {
            return local_page_state;
        })
    }

    let open = false;
    const toggle = () => (open = !open);
    let isOpen = false;

    initLocal_page_state();
</script>
<!-- //to restore functionality, delete (oninput='p1.setCustomValidity(false ? "" : " ")') and rename oninput1 to oninput-->
    <form method="post" oninput='p2.setCustomValidity(p1.value !== p2.value ? "Passwords do not match." : "")' class="flex mx-auto col-6">
        <div class="container" style="color: white">
            <h1>Create new account</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">Name</span>
                <input type="text" class="form-control" placeholder="write your name here">
                <span class="input-group-text" id="basic-addon5">Surname</span>
                <input type="text" class="form-control" placeholder="write your surname here">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">E-mail</span>
                <input type="email" class="form-control" placeholder="sample@mail.com">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon6">Username</span>
                <input type="text" class="form-control" placeholder="pick a username for your account">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon7">Password</span>
                <input type="password" class="form-control" placeholder="write your password here" required name="p1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon8">Confirm password</span>
                <input type="password" class="form-control" placeholder="re-enter your password here" name="p2">
            </div>
            <button type="button" on:click={toggle} class="btn btn-success"> Sign Up</button>

        </div>
    </form>

<Modal isOpen={open} {toggle} style="font-family: Minenfeld, serif;">
    <ModalHeader {toggle}><h1 style="font-size: 2rem; color: red; text-align: center">Error</h1></ModalHeader>
    <ModalBody style="font-size: 2em">
        <Popup/>
    </ModalBody>
</Modal>