<script  lang="ts" >
    import {
        Button,
        Card,
        CardBody,
        CardFooter,
        CardHeader,
        CardSubtitle,
        CardText,
        CardTitle,
    } from 'sveltestrap';
    import EditTeamButton from "./EditTeamButton.svelte"

    export let teamName: string;
    export let teamDescription: string;
    export let teamId: string;
    export let teamMembers:  [];

</script>

<Card class="mb-3" style="background-color: #977CCC; min-height: 180px">
    <CardHeader>
        <CardTitle>{teamName}</CardTitle>
    </CardHeader>
    <CardBody>
        <CardSubtitle>Description</CardSubtitle>
        <CardText>
            {teamDescription}
        </CardText>
    </CardBody>
    <CardFooter>
        <EditTeamButton bind:displayName={teamName} bind:description={teamDescription} bind:teamId={teamId} bind:teamMembers={teamMembers}/>
    </CardFooter>
</Card>

<style>
    svg{
        fill: white;
    }
</style>
