<script lang="ts">
    import AddButton from "./AddButton.svelte";
    import Arrow from "./Arrow.svelte";
    import ArrowRight from "./ArrowRight.svelte";
    import InfoButton from "./InfoButton.svelte";
    import Calendar from "./Calendar.svelte";
    import calenderObj from "../calender";
    import {daysSt, today, monthForTool, yearForTool} from "../stores";

    let open = false;
    export let month: number;
    export let year: number;

    let selectedMonth = "" + month;
    let selectedYear = "" + year;
    const toggle = () => (open = !open);
    let isOpen = false;

    let heute: Date;
    today.subscribe(value => {
        heute = value;
    })

    yearForTool.subscribe(value => {
        year = value
    })

    monthForTool.subscribe(value => {
        month = value
    })

    function left(){
        daysSt.update((value) =>{
            heute = new Date(heute.getTime() - (24 * 60 * 60 * 1000)*7)
            if(heute.getDay() == 0){
                let k: number = 0;
                for(let i = 7; i >= 1; i--){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(-k++));
                }
            }
            else {
                let k: number = 0;
                for(let i = heute.getDay(); i <= 7; i++){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(k++))
                }

                let l: number = 0;
                for(let i = heute.getDay(); i >= 1; i--){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(-l++));
                }
            }

            selectedMonth = "" + heute.getMonth();
            selectedYear = "" + heute.getFullYear();
            console.log(heute)
            return value
        })
    }

    function right(){
        daysSt.update((value) =>{
            heute = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*7)
            if(heute.getDay() == 0){
                let k: number = 0;
                for(let i = 7; i >= 1; i--){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(-k++));
                }
            }
            else {
                let k: number = 0;
                for(let i = heute.getDay(); i <= 7; i++){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(k++))
                }

                let l: number = 0;
                for(let i = heute.getDay(); i >= 1; i--){
                    value[i] = new Date(heute.getTime() + (24 * 60 * 60 * 1000)*(-l++));
                }
            }

            selectedMonth = "" + heute.getMonth();
            selectedYear = "" + heute.getFullYear();

            for(let i = 1; i <= 7; i++){
                console.log(value[i].getMonth())
            }
            return value
        })
    }
</script>

<div class="row justify-content-start">
    <div class="col-sm text-center" style="padding-top: 1em">
        <AddButton/>
        <!--
        <EditButton/>
        -->
        <InfoButton/>
    </div>
    <div class="col-sm text-center" style="padding-top: 1em">
        <Arrow on:click={left}/>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm text-center">
        <select bind:value={selectedMonth} disabled>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
    </div>
    <div class="col-sm">
        <select bind:value={selectedYear}  disabled>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm text-center" style="padding-top: 1em">
        <ArrowRight on:click={right}/>
    </div>
</div>

<style>
    svg {
        cursor: pointer;
        fill: white;
        text-decoration: none;
    }
    svg:hover{
        fill: #f15a24;
        transition: all 0.1s ease 0s;
    }
    select {
        font-size: 2em;
        background-color: #BD9CFF;
        color: white;
        border: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

    /* For IE10 */
    select::-ms-expand {
        display: none;
    }
</style>